.footer-wrapper {
  background: #fff;
  margin-top: 150PX;
  max-width: 100vw !important;

  ;
}

.site-footer {
  background-color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  color: #737373;
  width: 95%;
  max-width: 1140px;
  padding: 50px 0px;
  left: 0;
  bottom: 0 !important;
  position: static;
  margin: 0 auto;
}

.site-footer h6 {
  color: #151414;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: left;
  padding-left: 6px;
}

.site-footer a {
  color: #737373;
  text-decoration: none;
  text-align: left !important;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.address {
  border-left: 2px solid #f1f1f1;
  padding-left: 70px;
  margin-left: -50px;
}

@media (max-width: 1200px) {
  .address {
    border-left: none;
  }
}

.footer-links {
  list-style: none;
  text-align: left;
  font-weight: 600;
  margin-top: 5px;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }

  .mobile-nav-bottom {
    display: block;
  }

}

.site-footer h6 {
  cursor: pointer;
}

.site-footer h6:active+.site-footer a {
  display: block;
}

.copyright {
  height: 3vh;
  background: #F8F9FA;
}

.cp-text {
  color: rgba(151, 151, 151, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

@media(max-width: 991px) {
  .mobile-view {
    padding-left: 10px;
  }
}